<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title></title>
<div align="center">
<font size="4" color="white">
<div class=page>
	<h1>Cell Express</h1>
	</font>
	<font size="3" color="white">
	<div align="left">
	<h2>{% block title %}{% endblock %}</h2>
  	

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a href="{{url_for('login')}}">Login</a></li>
  <li><a href="{{url_for('inventory')}}">All Phones</a></li>
  <li><a href="{{url_for('logout')}}">Logout</a></li>
  <li><a href="{{url_for('aboutme')}}">about me</a></li>
</ul>


	{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
	{% endfor %}

	{% block body %}{% endblock %}
</div>

</font>
</body>
</html>