{% extends "layout.html" %}
{% block title %}Join us now!{% endblock %}

{% block body %}
<div align="center">
<form action="{{ url_for('newCustomer') }}" method = 'post' enctype=multipart/form-data>

  Name:<br>
  <input type="text" name="name"><br><br>


  Email Address:<br><br>
  <input type="email" name="email"><br><br>


  Birthday:<br>
  <input type="date" name="birthday"><br><br>


  City:<br>
  <input type="text" name="city"><br><br>


  Address:<br><br>
  <input type="text" name="address"><br><br>


  Password:<br><br>
  <input type="password" name="password"><br><br>
	
  <input type="submit" value="Join">
</form>
</div>
{% endblock %}